<form autocomplete="off">
  
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="page1">Page 1</a>
    <a class="item" data-tab="page2">Page 2</a>
    <a class="item" data-tab="page3">Page 3</a>
    <a class="item" data-tab="page4">Page 4</a>
    <a class="item" data-tab="page5">Page 5</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Page 1 --}}
    <div class="tab items" data-group="primary" data-tab="page1">
    </div>
    {{!-- Page 2 --}}
    <div class="tab items" data-group="primary" data-tab="page2">
    </div>
    {{!-- Page 3 --}}
    <div class="tab items" data-group="primary" data-tab="page3">
    </div>
    {{!-- Page 4 --}}
    <div class="tab items" data-group="primary" data-tab="page4">
    </div>
    {{!-- Page 5 --}}
    <div class="tab items" data-group="primary" data-tab="page5">
    </div>
  </section>
</form>